header {
    background-color:rebeccapurple;
    padding: 2%;
}
#title {
    color: white;
    text-align: center;
}
h1 {
    font-size: 50px;
}
#city-name {
    display: inline;
}
#city-name,img {
    vertical-align: middle; 
  }
#temp {
    margin-top: 2%;
}
p {
    font-size: larger;
}
label {
    font-size:xx-large;
    font-weight: 500;
    display: block;
}
#search {
    padding: 1% 0 0 1.5%;
    width: 30%;
    float: left;
}
#search-bar {
    width: 87.5%;
    display: inline;
}
#search-button {
    width: 10%;
    float: right;
}
#clear-button {
    margin-top: 5%;
}
input,button {
  vertical-align: middle; 
}
#history {
    display: none;
    margin-top: 5%;
    border: lightgrey 1px solid;
    border-radius: 5px;
    font-size: larger;
}
.h-button {
    width: 100%;
    text-align: left;
    padding: 3% 2%;
}
.h-button:hover {
    background-color: lightgrey;
}
#weather-content {
    display: inline;
    margin: 2.5% 0 0 5%;
    float: left;
    width: 60%;
}
#current-day {
    border: lightgrey 1px solid;
    border-radius: 5px;
    padding: 2.5% 5%;
}
#fvd-forecast {
    margin-top: 2.5%;
    width: 100%;
}
.forecast {
    width: 17%;
    padding: 1%;
    margin: 2% 0 0 3%;
    display: inline;
    float: left;
    background-color:rebeccapurple;
    color: white;
}

.low {
    background-color: lime;
}
.moderate {
    background-color: lightgreen;
}
.high {
    background-color: orange;
}
.very-high {
    background-color: orangered;
}
.extreme {
    background-color: red;
}